.landingPageContainer {
    cursor: default;
}
.landingContainer {
    margin-top: 8vh;
    height: 92vh;
    background: linear-gradient(90deg, rgba(81,171,242,1) 0%, rgba(37,108,189,1) 100%);
    display: flex;
    flex-direction: row;
}
.descriptionContainer {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    flex: 1;
}
.description {
    margin: 0;
    font-size: 25px;
    margin-bottom: 40px;
    color: white;
    text-align: center;
}
.downloadButton {
    border-radius: 20px;
    border: 2px white solid;
    color: white;
    width: 50%;
    height: 50px;
    background-color: inherit;
    cursor: pointer;
    font-size: 16px;
}
.screenshotContainer {
    flex: 1;
    margin: 0 80px;
}
.device {
    background-image: url("../../assets/iphone_6_plus_black_port.png");
    background-size: 300px;
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    overflow: hidden;
}
.screenshot {
    max-width: 100%;
    max-height: 463px;
    margin-top: 70px;
    margin-left: 20px;
    overflow: hidden;
}
.downloadContainer {
    height: 60vh;
    background: linear-gradient(90deg, rgba(84,222,190,1) 0%, rgba(36,188,153,1) 100%);
    display: flex;
    flex-direction: column;
}
.downloadTitle {
    margin: 10vh 10vw 0 10vw;
    color: white;
    font-size: 40px;
    text-align: center;
}
.downloadLink {
    margin: 50px auto 0 auto;
    width: 200px;
    height: auto;
}
.featuresContainer {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
li {
    text-align: center;
}
.features {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 50px;
    height: 50%;
    justify-content: space-between;
    text-align: center;
}
.featuresRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.feature {
    font-size: 25px;
    font-weight: bold;
}
.carouselContainer {
    margin-top: 10px;
    width: 40%;
    margin-right: 15%;
    background-repeat: no-repeat;
}
.carouselItem {
    height: 75vh !important;
    max-width: 80%;
}
.carouselContainer.div {
    padding-left: 0 !important;
}
.contactContainer {
    height: 40vh;
    background-color: #FF6B6B;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.personalContainer {
}
.name {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.logos {
    text-align: center;
}
.logo {
    height: 100px;
    width: 100px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(97deg) brightness(104%) contrast(103%);
    margin: 20px 10px 0 10px;
}
.footer {
    background: #333131;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10vh;
}
@media(max-width: 830px) {
    .landingContainer {
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: auto;
    }
    .descriptionContainer {
        margin-left: 0;
        padding-top: 30px;
    }
    .screenshotContainer {
        margin: 40px 0 0 0;
        width: 100%;
    }
    .device {
        background-position: top;
        text-align: center;
    }
    .screenshot {
        margin-left: 2px;
    }
    .downloadContainer {
        height: auto;
    }
    .featuresContainer {
        flex-direction: column;
        height: auto;
    }
    .featuresRow {
        flex-direction: column;
    }
    .features {
        padding: 0;
        text-align: center;
    }
    .feature {
        margin-bottom: 50px;
    }
    .carouselContainer {
        width: 100%;
        margin: 0;
    }
    .contactContainer {
        flex-direction: column;
        height: auto;
    }
    .logos {
        margin-bottom: 20px;
    }
    .logo {
        margin-top: 0px;
        width: 80px;
        height: 80px;
    }
}